:root {
	// base
	--font-family-base: "Manrope", sans-serif;
	--content-width: 1280px;
	--container-width: calc(var(--content-width) + (var(--container-offset) * 2));

	// colors
	--black-color: #111111;
	--white-color: #FFFFFF;

	--gray1-color: #3C3C3C;
	--gray2-color: #7B7B7B;
	--gray3-color: #929292;
	--gray4-color: #B1B1B1;
	--gray5-color: #D9D9D9;
	--gray6-color: #F4F4F4;

	--yellow-color: #FEC32B;
	--yellow2-color: #EBB836;
	--green-color: #007541;
	--green2-color: rgba(0, 192, 106, 0.4);
	--lightgreen-color: #00C06A;
	--dullgreen-color: #E6F9F0;
	--red-color: #980F1C;

	--yellow-color-16: rgba(254, 195, 43, 0.16);
	--yellow-color-50: rgba(254, 195, 43, 0.5);
	--gray3-color-20: rgba(146, 146, 146, 0.2);

	--shadow: 0 20px 32px -8px rgba(128, 129, 133, 0.16);
	--shadow2: 0 4px 12px 0 rgba(17, 17, 17, 0.12);
	--shadow3: 0 8px 20px -6px rgba(17, 17, 17, 0.12);

	// fancybox
	--fancybox-scrollbar-compensate: 17px;
	--fancybox-bg: rgba(0, 0, 0, 0.7);

	// transition
	--transition: 0.2s ease-out;
}
@media (min-width: 992px) {
	:root {
		--container-offset: 60px;
	}
}
@media (max-width: 991.98px) {
	:root {
		--container-offset: 16px;
	}
}