// базовые подключения
@import "vars";
@import "fonts";
@import "./vendors/normalize";
@import "./helpers/grid-bootstrap";
@import "./helpers/ui";
@import "../../node_modules/swiper/swiper-bundle";
@import "../../node_modules/select2/dist/css/select2";
@import "../../node_modules/@fancyapps/ui/dist/fancybox";
@import "../../node_modules/tippy.js/dist/tippy";
@import "../../node_modules/nouislider/dist/nouislider";
@import "../../node_modules/flatpickr/dist/flatpickr";
@import "settings";

// подключения компонентов страницы
@import "./components/header";
@import "./components/footer";

.main {
	position: relative;
	display: flex;
	flex-direction: column;
	flex: 1;
	min-width: 320px;
	overflow: hidden;
}
@media (min-width: 1200px) {
	.main {
		padding-top: calc(195px + 60px);
	}
}
@media (max-width: 991.98px) {
	.main {
		padding-top: 24px;
	}
}
@media (min-width: 992px) and (max-width: 1199.98px) {
	.main {
		padding-top: calc(178px + 24px);
	}
}

.index-slider-wrapper {
	position: relative;
}
.index-slider {
	position: relative;
	min-width: 100%;
	width: 100%;

	.swiper-slide {
		overflow: hidden;
	}
}
@media (max-width: 991.98px) {
	.index-slider {
		.swiper-navigation {
			display: none;
		}
	}
}

.main-banner {
	z-index: 1;
	position: relative;
	display: flex;
	min-width: 100%;
	width: 100%;
	border-radius: 12px;
	background-color: var(--gray6-color);
	background-position: center center;
	background-size: cover;

	&__item {
		z-index: 1;
	}
	&__descr {
		display: flex;
		flex: 1;
		flex-direction: column;
	}
	&__title {
		.caption {
			color: var(--gray2-color);
		}
	}
	&__view {
		display: flex;

		.image {
			height: auto;
			object-fit: contain;
		}
	}
}
@media (min-width: 992px) {
	.main-banner {
		&__descr {
			padding: 60px 20px 60px 7%;
		}
		&__title {
			line-height: 1;

			&:not(:last-child) {
				margin-bottom: 48px;
			}
		}
		&__subtitle {
			&:not(:last-child) {
				margin-bottom: 32px;
			}
		}
		&__view {
			justify-content: flex-end;
			align-items: flex-end;
			min-width: 55%;
			width: 55%;
		}
	}
}
@media (min-width: 1200px) {
	.main-banner {
		&__subtitle {
			padding-right: 25%;
		}
	}
}
@media (max-width: 991.98px) {
	.main-banner {
		padding-top: 24px;
		padding-bottom: 24px;

		&__descr {
			gap: 16px;
			padding: 0 16px;
			font-size: 13px;
		}
		&__title {
			font-size: 24px;
			line-height: 1.4;
		}
		&__view {
			flex: 1;
			justify-content: flex-start;
			align-items: center;

			.image {
				min-width: 50vw;
				width: 50vw;
				min-height: calc(50vw * 0.6);
				height: calc(50vw * 0.6);
			}
		}
	}
}
@media (max-width: 419.98px) {
	.main-banner {
		&__title {
			font-size: 18px;
			line-height: 1.4;
		}
		&__more {
			margin-right: -50vw;

			.btn {
				min-width: 100%;
				width: 100%;
			}
		}
		&__view {
			padding-bottom: 72px;
		}
	}
}
@media (min-width: 992px) and (max-width: 1199.98px) {
	.main-banner {
		&__title {
			font-size: 40px;
		}
	}
}

.product-category {
	.swiper-scrollbar {
		border-radius: 6px;
		background: var(--gray6-color);
	}
	&.swiper-horizontal > .swiper-scrollbar {
		bottom: 0;
		height: 6px;
	}
	.swiper-scrollbar-drag {
		border-radius: 6px;
		background: var(--gray2-color);
	}

	&__item {
		display: inline-flex;
		flex-direction: column;
		gap: 24px;
	}
	&__view {
		display: inline-flex;

		.image {
			object-fit: contain;
		}
	}
	&__descr {
		display: flex;
		flex-direction: column;
	}
	&__heading {
		font-weight: 500;
		line-height: 1.3;
		white-space: nowrap;
	}
	&__section { // todo
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
		margin-bottom: -6px;
		line-height: 1.4;

		&-item {
			display: inline-flex;
			margin-bottom: 6px;
		}
	}
}
@media (min-width: 992px) {
	.product-category {
		padding-bottom: 46px;
		overflow: visible;

		&__view {
			.image {
				min-height: 240px;
				height: 240px;
			}
		}
		&__descr {
			gap: 20px;
		}
		&__heading {
			font-size: 24px;
		}
		&__section {
			max-width: 360px;
			font-size: 14px;
		}
	}
}
@media (max-width: 991.98px) {
	.product-category {
		.swiper-scrollbar {
			display: none;
		}

		&__item {
			max-width: 315px;
		}
		&__view {
			.image {
				min-height: 150px;
				height: 150px;
			}
		}
		&__descr {
			gap: 12px;
		}
		&__heading {
			font-size: 18px;
		}
		&__section {
			min-height: 54px;
			height: 54px;
		}
	}
}
@media (max-width: 419.98px) {
	.product-category {
		&__item {
			max-width: 235px;
		}
		&__view {
			.image {
				min-height: 110px;
				height: 110px;
			}
		}
	}
}

.banner-offer {
	&-content {
		z-index: 1;
		position: relative;
		display: flex;
		min-width: 100%;
		width: 100%;
		border-radius: 12px;
		background-color: var(--gray6-color);
		background-position: center center;
		background-size: cover;

		.swiper-slide {
			overflow: hidden;
		}

		&__item {
			z-index: 1;
		}
		&__descr {
			display: flex;
			flex-direction: column;
		}
		&__title {
			.caption {
				color: var(--gray2-color);
			}
		}
		&__subtitle {
			color: var(--gray2-color);
			font-weight: 500;
			line-height: 1.4;
		}
		&__view {
			display: flex;
			align-items: flex-end;

			.image {
				height: auto;
				object-fit: contain;
			}
		}
	}
}
@media (min-width: 992px) {
	.banner-offer {
		&-content {
			&__descr {
				flex: 1;
				padding: 40px 20px 40px 7%;
			}
			&__title {
				&:not(:last-child) {
					margin-bottom: 12px;
				}
			}
			&__subtitle {
				font-size: 14px;

				&:not(:last-child) {
					margin-bottom: 24px;
				}
			}
			&__view {
				justify-content: flex-end;
				min-width: 60%;
				width: 60%;
			}
		}
	}
}
@media (min-width: 1200px) {
	.banner-offer {
		&-content {
			&__subtitle {
				padding-right: 10%;
			}
		}
	}
}
@media (max-width: 991.98px) {
	.banner-offer {
		&-content {
			padding-top: 24px;
			padding-bottom: 24px;
			overflow: hidden;

			&__descr {
				z-index: 1;
				min-width: 65%;
				width: 65%;
				padding: 0 16px;
				font-size: 13px;
			}
			&__title {
				&:not(:last-child) {
					margin-bottom: 8px;
				}
			}
			&__subtitle {
				font-size: 13px;

				&:not(:last-child) {
					margin-bottom: 24px;
				}
			}
			&__view {
				z-index: 0;
				flex: 1;
				justify-content: flex-start;
				margin: 0 -100px -24px -100px;
				overflow: hidden;
			}
		}
	}
}
@media (max-width: 419.98px) {
	.banner-offer {
		&-content {
			flex-direction: column;
			gap: 16px;

			&__descr {
				min-width: 100%;
				width: 100%;
			}
			&__more {
				.btn {
					min-width: 100%;
					width: 100%;
				}
			}
			&__view {
				z-index: 1;
				margin: 0 0 -24px 0;
				padding: 0 16px;
			}
		}
	}
}

.media-info {
	&-slider {
		overflow: visible;
	}
	&-card {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		border: 1px solid var(--gray6-color);
		border-radius: 12px;
		background-color: var(--gray6-color);
		transition: var(--transition);

		.tag {
			cursor: default;
		}

		&__view {
			display: flex;

			.image {
				border: 1px solid var(--gray5-color);
				border-radius: 8px;
			}
		}
		&__descr {
			display: flex;
			flex-direction: column;
			flex: 1;
		}
		&__caption {
			display: flex;
			gap: 12px;
			font-weight: 500;
			font-size: 12px;
			line-height: 1.3;

			.topic {
				color: rgba(0, 0, 0, 0.6);
			}
		}
		&__subtitle {
			display: -webkit-box;
			-webkit-line-clamp: 5;
			-webkit-box-orient: vertical;
			overflow: hidden;
			color: rgba(0, 0, 0, 0.8);
			line-height: 1.4;
		}

		&:hover {
			border: 1px solid var(--gray5-color);
			box-shadow: var(--shadow);
			background-color: var(--white-color);
		}

		&--invert {
			border: 1px solid var(--gray2-color);
			background-color: var(--gray2-color);
			color: var(--white-color);

			.tag {
				color: var(--white-color);

				&:hover,
				&:focus {
					background-color: var(--gray2-color);
				}
			}

			.media-info-card__descr {
				justify-content: flex-end;
			}
			.media-info-card__caption {
				.topic {
					color: rgba(255, 255, 255, 0.6);
				}
			}
			.media-info-card__subtitle {
				color: rgba(255, 255, 255, 0.8);
			}

			&:hover {
				border: 1px solid var(--gray1-color);
				background-color: var(--gray1-color);
			}
		}
	}
}
@media (min-width: 992px) {
	.media-info {
		&-slider {
			.swiper-navigation {
				top: 108px;
			}
		}
		&-card {
			gap: 24px;
			min-width: 302px;
			width: 302px;
			min-height: 430px;
			padding: 8px 8px 20px;

			&__view {
				&,
				.image {
					min-height: 195px;
					height: 195px;
				}
			}
			&__descr {
				gap: 12px;
				padding: 0 12px;
			}
			&__caption {
				align-items: center;
			}
			&__title {
				font-weight: 600;
			}
			&__subtitle {
				font-size: 14px;
			}
		}
	}
}
@media (max-width: 991.98px) {
	.media-info {
		&-card {
			gap: 12px;
			min-width: 180px;
			width: 180px;
			min-height: 280px;
			padding: 4px 4px 16px;

			&__view {
				&,
				.image {
					min-height: 110px;
					height: 110px;
				}
			}
			&__descr {
				gap: 8px;
				padding: 0 8px;
			}
			&__caption {
				flex-direction: column;
			}
			&__title {
				font-weight: 500;
				font-size: 13px;
				line-height: 1.4;
			}
			&__subtitle {
				font-size: 13px;
			}
		}
	}
}

.product-slider {
	overflow: visible;
}
@media (min-width: 992px) {
	.product-slider {
		.swiper-slide {
			&:hover {
				z-index: 1;
			}
		}

		.swiper-navigation {
			top: 143px;
		}
	}
}

/*
.catalog {
	&-heading {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		align-items: center;

		&__goods {
			color: var(--gray2-color);
			font-size: 14px;
			line-height: 20px;
		}
		&__back {
			display: flex;

			&-link {
				display: inline-flex;
				align-items: center;
				gap: 4px;
				line-height: 24px;

				.icon {
					fill: var(--black-color);
					stroke: var(--black-color);
				}

				&:hover {
					color: var(--gray2-color);
				}
			}
		}
	}
}
.catalog-category {
	.catalog-sidebar {
		display: flex;
		flex-direction: column;
		gap: 32px 0;

		&-filter {
			&__selection {
				display: flex;
				flex-direction: column;
				gap: 32px;
			}
			&__options {
				display: flex;
				flex-direction: column;
				gap: 32px;

				&-item {
					display: flex;
					flex-direction: column;
					gap: 20px;
				}
				&-header {
					align-items: center;
					gap: 8px;
					cursor: default;
				}
				&-content {
					&-item {
						&:not(:last-child) {
							margin-bottom: 20px;
						}
					}
					&-scrolled {
						.spoiler {
							margin: -4px -4px 4px;

							&-content {
								padding: 4px;

								.catalog-sidebar-filter__list {
									padding-bottom: 6px;
								}
							}
						}
					}
				}
				&-title {
					font-weight: 700;
					line-height: 1.3;
				}
			}
			&__list {
				display: flex;
				flex-direction: column;

				&--row {
					flex-direction: row;
					flex-wrap: wrap;
				}
			}
			&__item {
				display: flex;

				.custom-checkbox {
					width: 100%;

					&__brand {
						margin-left: auto;
					}
				}
			}
			&__tag {
				background-color: var(--gray5-color);

				&:hover {
					background-color: var(--gray4-color);
				}
				&:checked,
				&.checked {
					background-color: var(--yellow-color);
				}
			}
			&__actions {
				display: flex;
			}
			.spoiler {
				&::before {
					content: none;
				}
			}
		}
	}

	.catalog-content {
		display: flex;
		flex-direction: column;
		gap: 32px 0;

		&__top {
			display: flex;
			width: 100%;
		}
		&-settings {
			&__sort {
				position: relative;

				&-select {
					.icon {
						min-width: 14px;

						fill: var(--red-color);
						stroke: var(--red-color);
					}
				}
				&-item {
					overflow: hidden;
				}
			}
		}
		&__layout {
			.pagination-wrapper {
				min-width: 100%;
				width: 100%;
			}
		}
		&__grid {
			display: grid;
			gap: 12px;
		}
		&__text {
			color: var(--gray2-color);

			.spoiler {
				&[aria-expanded="false"] {
					&::before {
						min-height: 50px;
						height: 50px;
					}
				}
			}
		}
	}
}
.catalog-sidebar-apply-filter {
	z-index: 2000;
	position: fixed;
	transform: translateY(-50%);
	padding: 10px 12px;
	border-radius: 2px;
	box-shadow: 0 4px 6px rgba(213, 213, 214, 0.5);
	background: var(--gray1-color);
	font-size: 14px;
	line-height: 20px;
	cursor: pointer;

	&::before {
		content: "";
		position: absolute;
		top: 50%;
		left: 0;
		transform: translate(-6px, -6px) rotate(135deg);
		min-width: 12px;
		width: 12px;
		min-height: 12px;
		height: 12px;
		background: var(--gray1-color);
	}
	&__title {
		color: var(--white-color);

		&:not(:last-child) {
			margin-bottom: 2px;
		}
	}
	&__value {
		color: var(--gray2-color);
	}
}
@media (min-width: 992px) {
	.catalog {
		&-heading {
			gap: 8px;

			&__back {
				position: absolute;
				bottom: -40px;
				left: 0;
				min-width: 285px;
				width: 285px;

				&-link {
					span {
						display: -webkit-box;
						-webkit-line-clamp: 1;
						-webkit-box-orient: vertical;
						overflow: hidden;
					}
				}
			}
		}
	}

	.catalog-category {
		display: grid;
		grid-template-columns: 285px 1fr;
		grid-template-rows: auto;
		gap: 0 30px;

		.catalog-sidebar {
			&-top {
				display: flex;
				flex-direction: column;
				gap: 32px;
				padding-top: 16px;
			}
			&-section {
				display: flex;
				flex-direction: column;
				gap: 16px;

				&__list {
					display: flex;
					flex-direction: column;
					gap: 12px;
					padding-left: 16px;
				}
				&__title {
					font-weight: 700;
				}
				&__item {
					display: flex;
					align-items: flex-start;
					gap: 4px;
				}
			}
			&-filter {
				&:not(:first-child) {
					padding-top: 32px;
					border-top: 1px solid var(--gray3-color);
				}
				&__header {
					display: none;
				}
				&__options {
					&-header {
						display: inline-flex;
					}
					&-content {
						&-scrolled {
							.spoiler {
								max-height: 132px;

								&[aria-expanded="true"] {
									.spoiler-content {
										overflow: auto;

										&::-webkit {
											&-scrollbar,
											&-scrollbar-track,
											&-scrollbar-thumb {
												min-width: 4px;
												width: 4px;
											}
											&-scrollbar,
											&-scrollbar-track {
												background-color: transparent;
											}
											&-scrollbar-button {
												display: none;
											}
											&-scrollbar-thumb {
												border-radius: 2px;
												background-color: var(--gray4-color);
											}
										}
									}
								}
								&-content {
									max-height: 334px;
								}
							}
						}
					}
					&-search {
						.input-search-wrapper {
							&::before {
								content: none;
							}
							.input-search {
								padding: 5px 40px 5px 12px;
								border-color: var(--gray5-color);
								background-color: var(--gray5-color);
							}
							.input-search-btn {
								right: 0;
								min-width: 40px;
								width: 40px;
								min-height: 40px;
								height: 40px;
							}

							&.has-data {
								.input-search-btn {
									z-index: -100;
									opacity: 0;
								}
							}
						}
					}
					&-title {
						font-size: 20px;
					}
				}
				&__list {
					gap: 16px;

					&--row {
						gap: 4px;
					}
				}
				&__actions {
					flex-direction: column;
					gap: 12px;
				}
			}
		}

		.catalog-content {
			gap: 40px;

			&__top {
				flex-wrap: wrap;
				align-items: center;
			}
			&-settings {
				display: flex;
				justify-content: space-between;
				align-items: center;
				gap: 16px;
				min-width: 100%;
				width: 100%;
			}
			&-filter {
				&-spoiler {
					display: none;
				}
			}
		}
	}
}
@media (min-width: 1200px) {
	.catalog-category {
		.catalog-content {
			&-settings {
				&__sort {
					display: flex;
					align-items: center;
					gap: 16px;

					&-title {
						font-weight: 700;
					}
					&-select {
						display: none;
					}
					&-options {
						display: flex;
						gap: 4px;
					}
				}
			}
		}
	}
}
@media (min-width: 1400px) {
	.catalog-category {
		.catalog-content {
			min-width: calc(1280px - 285px - 30px);
			width: calc(1280px - 285px - 30px);

			&__grid {
				grid-template-columns: repeat(4, 1fr);
			}
		}
	}
}
@media (max-width: 1199.98px) {
	.catalog-category {
		.catalog-content {
			&-settings {
				&__sort {
					max-width: 288px;

					&-title {
						display: none;
					}
					&-select {
						display: flex;
						align-items: center;
						gap: 8px;
						min-height: 40px;
						height: 40px;
						padding: 6px 12px;
						border-radius: 4px;
						background-color: var(--gray4-color);
						line-height: 16px;
						transition: var(--transition);

						&-text {
							display: -webkit-box;
							-webkit-line-clamp: 1;
							-webkit-box-orient: vertical;
							overflow: hidden;
							pointer-events: none;
						}
						.icon {
							fill: var(--gray2-color);
							stroke: var(--gray2-color);
							pointer-events: none;
						}

						&:hover {
							background-color: var(--gray5-color);
						}
					}
					&-options {
						z-index: 100;
						position: absolute;
						width: 100%;
						overflow: auto;
						padding: 4px 0;
						border-radius: 8px;
						box-shadow: 0 12px 32px rgba(128, 129, 133, 0.32);
						background: var(--white-color);

						&:not(.active) {
							display: none;
						}

						.tag {
							justify-content: flex-start;
							border: none;

							&:hover {
								background-color: rgba(246, 246, 246, 0.75);
							}
						}
					}
				}
			}
		}
	}
}
@media (max-width: 991.98px) {
	.catalog {
		&-heading {
			gap: 4px;
			padding-bottom: 16px;

			&::before {
				content: "";
				z-index: 1;
				position: absolute;
				right: -16px;
				bottom: 0;
				left: -16px;
				min-height: 1px;
				height: 1px;
				background-color: var(--gray5-color);
			}
			&__title {
				order: 5;
			}
			&__goods {
				order: 10;
			}
			&__back {
				order: 1;
				min-width: 100%;
				width: 100%;
				font-size: 12px;
			}
		}
	}

	.catalog-category {
		.catalog-sidebar {
			&-top {
				display: none;
			}
			&-filter {
				z-index: 1010;
				position: fixed;
				right: 0;
				bottom: 0;
				left: 0;
				display: flex;
				flex-direction: column;
				gap: 20px;
				padding: 12px 16px 20px;
				overflow: auto;
				background-color: var(--white-color);
				transition: var(--transition);

				&::-webkit {
					&-scrollbar,
					&-scrollbar-track,
					&-scrollbar-thumb {
						min-width: 4px;
						width: 4px;
					}
					&-scrollbar,
					&-scrollbar-track {
						background-color: transparent;
					}
					&-scrollbar-button {
						display: none;
					}
					&-scrollbar-thumb {
						border-radius: 2px;
						background-color: var(--gray5-color);
					}
				}
				&:not(.active) {
					top: 100vh;
				}
				&.active {
					top: 0;
				}
				&__header {
					display: flex;
					justify-content: space-between;
					align-items: center;
					gap: 16px;
					min-width: calc(100vw - 32px);
				}
				&__close {
					display: flex;
				}
				&__selection {
					minwidth: calc(100vw - 32px);
				}
				&__options {
					&-header {
						display: flex;
					}
					&-content {
						&-scrolled {
							.spoiler {
								max-height: 148px;

								&-content {
									position: relative;

									&::before {
										content: "";
										z-index: 1;
										position: absolute;
										right: 0;
										bottom: 0;
										left: 0;
										min-height: 1px;
										height: 1px;
										background-color: var(--gray5-color);
									}
								}
							}
						}
					}
					&-title {
						font-size: 18px;
					}
				}
				&__list {
					gap: 12px;

					&--row {
						gap: 4px;
					}
				}
				&__actions {
					gap: 8px;

					.btn {
						flex: 1;
					}
				}
			}
		}
		.catalog-content {
			&__top {
				flex-wrap: wrap;
				justify-content: space-between;
				gap: 16px;
			}
			&-settings {
				order: 99;

				&__view {
					display: none;
				}
			}
			&-filter {
				&-spoiler {
					order: 100;
					display: inline-flex;
					align-items: center;
					gap: 8px;
					min-height: 40px;
					height: 40px;

					&.has-filter {
						.catalog-content-filter-spoiler__view {
							&::before {
								content: "";
								z-index: 1;
								position: absolute;
								top: 1px;
								right: -1px;
								min-width: 8px;
								width: 8px;
								min-height: 8px;
								height: 8px;
								border: 2px solid var(--white-color);
								border-radius: 50%;
								background-color: var(--red-color);
							}
						}
					}
					&__view {
						position: relative;
						display: flex;
						justify-content: center;
						align-items: center;
					}
				}
			}
			&__layout {
				.pagination-more {
					display: none;
				}
			}

			.pagination-wrapper {
				justify-content: center;
			}
		}
	}

	.catalog-sidebar-apply-filter {
		display: none;
	}
}
@media (max-width: 767.98px) {
	.catalog-category {
		.catalog-content {
			&__grid {
				grid-template-columns: repeat(2, 1fr);
				gap: 8px;
			}
		}
	}
}
@media (max-width: 575.98px) {
	.catalog-category {
		.catalog-sidebar {
			&-filter {
				&__actions {
					flex-direction: column;
				}
			}
		}
		.catalog-content {
			&__grid {
				grid-template-columns: repeat(2, 1fr);
			}
		}
	}
}
@media (min-width: 576px) and (max-width: 991.98px) {
	.catalog-category {
		.catalog-content {
			&__grid {
				grid-template-columns: repeat(3, 1fr);
			}
		}
	}
}
@media (min-width: 992px) and (max-width: 1199.98px) {
	.catalog-category {
		.catalog-content {
			&__grid {
				grid-template-columns: repeat(2, 1fr);
			}
		}
	}
}
@media (min-width: 1200px) and (max-width: 1399.98px) {
	.catalog-category {
		.catalog-content {
			&__grid {
				grid-template-columns: repeat(3, 1fr);
			}
		}
	}
}
*/

/*
.content-page {
	.cp-sidebar {
		display: flex;
		flex-direction: column;
		gap: 12px 0;

		&-item {
			display: flex;
			flex-direction: column;
			gap: 16px;
			padding: 12px 16px;
			border-radius: 4px;

			&__heading {
				display: flex;
				align-items: center;
				gap: 12px;
			}
			&__title {
				font-weight: 700;
				font-size: 18px;
				line-height: 20px;
			}
			&__list {
				display: flex;
				flex-direction: column;
				gap: 8px;
				padding-left: 32px;
			}
			&__link {
				display: inline-flex;
				align-items: center;
				gap: 6px;
				line-height: 24px;

				&:not(.active) {
					color: var(--gray1-color);
				}

				.content {
					display: flex;
					justify-content: center;
					align-items: center;
					min-width: 16px;
					width: 16px;
					min-height: 16px;
					height: 16px;
					overflow: hidden;
					border-radius: 50%;
					background-color: var(--red-color);
					color: var(--white-color);
					font-weight: 700;
					font-size: 9px;
					line-height: 1.2;
				}

				&:hover,
				&.active {
					color: var(--black-color);
				}
				&.active {
					font-weight: 700;
				}
			}
			&__person {
				display: flex;
				align-items: center;
				gap: 12px;

				&-view {
					min-width: 48px;
					width: 48px;
					min-height: 48px;
					height: 48px;
					overflow: hidden;
					border-radius: 50%;
				}
				&-name {
					font-weight: 600;
				}
				&-info {
					display: flex;
					flex-direction: column;
					gap: 4px;

					li {
						line-height: 24px;
					}
				}
			}
		}
		&-top {
			background-color: var(--gray5-color);
		}
		&-manager {
			margin-top: 36px;
			padding: 16px;
			border: 1px solid var(--gray4-color);
		}
	}
	.cp-item {
		&-row {
			display: flex;
			flex-direction: column;
			gap: 4px;

			&__title {
				color: var(--gray1-color);
			}
		}
		&-icon {
			.cp-item__row {
				&.cp-item__heading {
					display: flex;
					align-items: flex-start;
					gap: 20px;
				}
			}
		}
	}
	.cp-ul {
		padding-left: 22px;

		li {
			position: relative;

			&::before {
				content: "";
				position: absolute;
				top: 9px;
				left: -18px;
				min-width: 6px;
				width: 6px;
				min-height: 6px;
				height: 6px;
				border-radius: 1px;
				background-color: var(--red-color);
			}
			&:not(:last-child) {
				margin-bottom: 8px;
			}
		}
	}
	.cp-ol {
		counter-reset: item;
		padding-left: 22px;

		li {
			position: relative;

			&::before {
				content: counter(item) ".";
				counter-increment: item;
				position: absolute;
				top: 2px;
				left: -22px;
				min-width: 16px;
				width: 16px;
				min-height: 16px;
				height: 16px;
				color: var(--gray1-color);
				line-height: 1;
			}
			&:not(:last-child) {
				margin-bottom: 8px;
			}
		}
	}
	.cp-notice {
		display: flex;
		flex-direction: column;
		gap: 8px;
		padding: 12px 16px;
		border: 1px solid #FFE58F;
		border-radius: 4px;
		background-color: #FFFBE6;
		color: var(--gray1-color);

		&__title {
			color: var(--black-color);
			font-weight: 700;
		}
	}
}
@media (min-width: 992px) {
	.content-page {
		.cp-grid {
			display: flex;
			gap: 0 30px;

			.cp-sidebar {
				min-width: 285px;
				width: 285px;
			}
			.cp-content {
				min-width: calc(100% - 285px - 30px);
				width: calc(100% - 285px - 30px);
			}
		}
		.cp-item {
			padding: 20px 24px;
			border: 1px solid var(--gray5-color);
			border-radius: 8px;

			&-column {
				display: flex;
				flex-direction: column;

				.btn-g {
					flex: 1;
					align-items: flex-end;
				}
			}
			&-iconed {
				.cp-item__row {
					&:not(.cp-item__heading) {
						padding-left: 44px;
					}
				}
			}
		}
	}
}
@media (max-width: 991.98px) {
	.content-page {
		.cp-sidebar {
			display: none;
		}
		.cp-item {
			&-iconed {
				.cp-item__row {
					&.cp-item__heading {
						flex-direction: row-reverse;
						justify-content: space-between;
					}
				}
			}
		}
	}
}
*/

/*
.details {
	&__main-pic {
		display: flex;

		.image {
			min-width: 100%;
			width: 100%;
		}
	}
	&__caption {
		display: flex;
		align-items: flex-start;
		gap: 8px;

		.icon {
			fill: var(--red-color);
			stroke: var(--red-color);
		}
		&__title {
			color: var(--gray2-color);
		}
	}
}
@media (min-width: 992px) {
	.details {
		&__caption {
			.icon {
				min-width: 20px;
				width: 20px;
				min-height: 20px;
				height: 20px;
			}
		}
	}
}
@media (max-width: 991.98px) {
	.details {
		&__caption {
			.icon {
				min-width: 16px;
				width: 16px;
				min-height: 16px;
				height: 16px;
			}
		}
	}
}
*/

/*
.back-to {
	.link {
		display: inline-flex;
		align-items: center;
		gap: 8px;

		.icon {
			fill: var(--gray1-color);
			stroke: var(--gray1-color);
		}

		&:hover {
			.icon {
				fill: var(--black-color);
				stroke: var(--black-color);
			}
		}
	}
}
*/

/*
.contacts {
	&-map {
		position: relative;
		overflow: hidden;

		&-content {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			width: 100%;
			height: 100%;
		}
	}
}
@media (min-width: 992px) {
	.contacts {
		&-map {
			height: 400px;
		}
	}
}
@media (max-width: 991.98px) {
	.contacts {
		&-map {
			height: 430px;
		}
	}
}
*/

/*
.personal-acc {
	&__search {
		display: flex;
		gap: 12px;

		&:not(:last-child) {
			margin-bottom: 16px;
		}

		&-item {
			min-width: unset;
		}
		&-order {
			flex: 2;
		}
		&-date {
			flex: 1;
		}
		&-btn {
			min-width: 135px;
			width: 135px;
		}
	}
	&__orders {
		display: flex;
		flex-direction: column;

		&-item {
			display: flex;
			border-bottom: 1px solid var(--gray4-color);

			&:first-child {
				border-top: 1px solid var(--gray4-color);
			}
		}
		&-descr {
			display: flex;
			flex-direction: column;
			gap: 16px;
		}
		&-header {
			display: flex;
			flex-direction: column;
			gap: 6px;

			&-title {
				display: flex;
				align-items: center;
				gap: 8px;
			}
			&-date {
				color: var(--gray2-color);
			}
		}
		&-details {
			display: flex;
			flex-direction: column;
			gap: 16px;
		}
		&-view {
			display: flex;

			.swiper-slide {
				display: flex;
				min-width: 40px;
				width: 40px;
				min-height: 40px;
				height: 40px;
				overflow: hidden;
				border-radius: 4px;
				cursor: pointer;
				transition: var(--transition);

				&.slide-more {
					justify-content: center;
					align-items: center;
					border: 1px solid var(--gray4-color);
					color: var(--gray2-color);
					font-size: 13px;
					line-height: 1;

					&:hover {
						border-color: var(--gray3-color);
					}
				}
			}
			.image {
				min-width: 40px;
				width: 40px;
				min-height: 40px;
				height: 40px;
				object-fit: contain;
			}
		}
		&-info {
			display: flex;
			flex-direction: column;
			gap: 16px;
			font-size: 14px;
		}
		&-total {
			.title-line {
				color: var(--gray2-color);
			}
			.value-line {
				font-weight: 700;
				font-size: 15px;
			}
		}
		&-status {
			color: var(--gray2-color);
		}
	}
}
@media (min-width: 992px) {
	.personal-acc {
		&__orders {
			&-item {
				padding-top: 32px;
				padding-bottom: 32px;
			}
			&-info {
				min-width: 200px;
			}
			&-descr {
				flex: 1;
			}
			&-details {
				.table-descr {
					min-width: 160px;
				}
			}
		}
	}
}
@media (min-width: 1200px) {
	.personal-acc {
		&__search {
			&-date {
				min-width: 240px;
			}
		}
		&__orders {
			&-item {
				gap: 24px;
			}
		}
	}
}
@media (max-width: 1199.98px) {
	.personal-acc {
		&__search {
			flex-wrap: wrap;

			&-order {
				min-width: 100%;
			}
			&-date {
				min-width: 140px;
			}
		}
		&__orders {
			&-item {
				flex-direction: column;
				gap: 16px;
			}
			&-info {
				padding-top: 16px;
				border-top: 1px solid var(--gray4-color);
			}
		}
	}
}
@media (max-width: 991.98px) {
	.personal-acc {
		&__orders {
			&-item {
				margin-right: -16px;
				margin-left: -16px;
				padding: 16px;
			}
		}
	}
}
*/



.hbk-own-production {
	display: flex;
	flex-direction: column;
	border-radius: 12px;
	overflow: hidden;

	&__descr {
		display: flex;

		&-item {
			flex: 1;
		}
	}

	.swiper-slide {
		overflow: hidden;
		border-radius: 8px;

		.image {
			min-width: 272px;
			width: 272px;
			min-height: 210px;
			height: 210px;
		}
	}
}
@media (min-width: 992px) {
	.hbk-own-production	{
		padding: 60px;

		.swiper-navigation {
			right: 12px;
			left: 12px;
		}
	}
}
@media (min-width: 1200px) {
	.hbk-own-production	{
		&__descr {
			gap: 60px;
		}
	}
}
@media (min-width: 1400px) {
	.hbk-own-production {
		.basic-slider-wrap {
			min-width: 100%;
			margin-right: -60px;
			margin-left: -60px;

			.basic-slider {
				padding-right: 60px;

				&__item,
				.swiper-slide {
					&:first-child {
						margin-left: 60px;
					}
				}
			}
		}
	}
}
@media (max-width: 991.98px) {
	.hbk-own-production	{
		margin-right: -16px;
		margin-left: -16px;
		padding: 32px 16px;

		&__descr {
			flex-direction: column;
			gap: 24px;
		}
	}
}
@media (min-width: 992px) and (max-width: 1199.98px) {
	.hbk-own-production	{
		&__descr {
			gap: 40px;
		}
	}
}
@media (min-width: 992px) and (max-width: 1399.98px) {
	.hbk-own-production {
		.basic-slider-wrap {
			min-width: 100%;
			margin-right: -60px;
			margin-left: -60px;

			.basic-slider {
				padding-right: 60px;

				.swiper-slide {
					&:first-child {
						margin-left: 60px;
					}
				}
			}
		}
	}
}

.hbk-projects {
	display: flex;

	&__descr {
		display: flex;
		flex-direction: column;
		flex: 1;
	}
	&__view {
		.swiper-slide {
			overflow: hidden;
			border-radius: 12px;
		}
	}
}
@media (min-width: 992px) {
	.hbk-projects {
		&__view {
			min-width: 57%;
			width: 57%;

			.swiper-navigation {
				right: -18px;
				left: -18px;
			}
		}
	}
}
@media (min-width: 1200px) {
	.hbk-projects	{
		gap: 60px;

		&__heading {
			padding-right: 60px;
		}
		&__content {
			padding-right: 80px;
		}
		&__view {
			.image {
				min-height: 480px;
				height: 480px;
			}
		}
	}
}
@media (max-width: 991.98px) {
	.hbk-projects {
		flex-direction: column;
		gap: 24px;

		&__view {
			.image {
				min-width: 376px;
				width: 376px;
				min-height: 286px;
				height: 286px;
			}
		}
	}
}
@media (max-width: 419.98px) {
	.hbk-projects {
		&__view {
			.image {
				min-width: 266px;
				width: 266px;
				min-height: 200px;
				height: 200px;
			}
		}
	}
}
@media (min-width: 992px) and (max-width: 1199.98px) {
	.hbk-projects {
		gap: 40px;

		&__view {
			.image {
				min-height: 320px;
				height: 320px;
			}
		}
	}
}

.hbk-advantages {
	display: flex;

	&__item {
		display: flex;
	}
	&__descr {
		display: flex;
		flex-direction: column;
		flex: 1;
	}
	&__subtitle {
		color: var(--gray2-color);
		line-height: 1.4;
	}
	&__view {
		display: flex;
	}
	&__pic {
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		border-radius: 12px;
		background-color: var(--yellow-color-16);

		.icon {
			fill: var(--yellow-color);
			stroke: var(--yellow-color);
		}
	}
}
@media (min-width: 992px) {
	.hbk-advantages {
		gap: 24px;

		&__item {
			flex-direction: column;
			gap: 32px;
		}
		&__descr {
			gap: 16px;
		}
		&__subtitle {
			font-size: 14px;
		}
		&__pic {
			min-width: 60px;
			width: 60px;
			min-height: 60px;
			height: 60px;

			.icon {
				min-width: 28px;
				width: 28px;
				min-height: 28px;
				height: 28px;
			}
		}
	}
}
@media (max-width: 991.98px) {
	.hbk-advantages {
		flex-direction: column;
		gap: 32px;

		&__item {
			gap: 16px;
		}
		&__descr {
			gap: 12px;
		}
		&__subtitle {
			font-size: 13px;
		}
		&__pic {
			min-width: 48px;
			width: 48px;
			min-height: 48px;
			height: 48px;

			.icon {
				min-width: 24px;
				width: 24px;
				min-height: 24px;
				height: 24px;
			}
		}
	}
}

.hbk-newsletter {
	display: flex;
	border: 2px solid var(--gray3-color-20);
	border-radius: 12px;

	&__descr {
		display: flex;
		flex: 1;
		align-items: center;
		gap: 20px;

		&-pic {
			display: flex;
		}
		&-info {
			display: flex;
			flex-direction: column;
			gap: 8px;
		}
		&-text {
			color: var(--gray2-color);
			line-height: 1.4;
		}
	}
	&__act {
		flex: 1;
	}
	&__subscribe {
		display: flex;
		flex-direction: column;
		gap: 16px;

		&-caption {
			color: var(--gray4-color);
			font-size: 12px;
			line-height: 1.3;
		}
	}
}
@media (min-width: 992px) {
	.hbk-newsletter {
		padding: 32px 60px;

		&__descr {
			gap: 32px;

			&-pic {
				.image {
					min-width: 80px;
					width: 80px;
					min-height: 80px;
					height: 80px;
				}
			}
		}
	}
}
@media (min-width: 1200px) {
	.hbk-newsletter {
		align-items: center;
		gap: 40px;
	}
}
@media (max-width: 1199.98px) {
	.hbk-newsletter {
		flex-direction: column;
		gap: 16px;
	}
}
@media (max-width: 991.98px) {
	.hbk-newsletter {
		padding: 16px;

		&__descr {
			gap: 8px;

			&-text {
				font-size: 13px;
			}
		}
	}
}

.hbk-about-text {
	.spoiler {
		&[aria-expanded="false"] {
			&::before {
				min-height: 100px;
				height: 100px;
			}
		}
	}
}
@media (min-width: 992px) {
	.hbk-about-text {
		.spoiler {
			max-height: 136px;
		}
	}
}
@media (max-width: 991.98px) {
	.hbk-about-text {
		.spoiler {
			max-height: 300px;
		}
	}
}